SMS Spam Classification using NLP

step1: Reading data and visualization

import modules

In [1]:
import pandas as pd
import nltk

Read the dataset

In [2]:
df = pd.read_csv("w2_position_salaries.csv", encoding = "latin-1")

In [3]:
df.head(5)

            Position  Level  Salary
0   Business Analyst      1   45000
1  Junior Consultant      2   50000
2  Senior Consultant      3   60000
3            Manager      4   80000
4    Country Manager      5  110000

In [4]:
df.shape

(10, 3)